# Python
*.pyc
*.pyo
*.pyd
*.egg-info/
__pycache__/
venv/
.venv/
.env/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode
.idea
*.wpr
*.wpu
.vs
x64

# Temp
build
dist
*.local

# VeighNa
.vntrader
*.sqlite
*.db
*.log
*.csv
temp/
# Futu
futu_open_d.xml
futu_open_d.ini
futu_log/

# Visual Studio intermediate files
*.exp
*.iobj
*.ipdb
*.pdb

# Documents
_build
_static
_templates

# Misc
.DS_Store
*.mo

# Alpha
lab/
/.mypy_cache
